<h2>List danh sach</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>desc</th>
              <th>Action</th>
            </tr>
          </thead>
            <thead>
            
            <tr *ngFor="let product of products">
              <th><a routerLink="/product-detail/{{product.id}}">{{product.id}}</a></th>
              <th><a routerLink="/product-detail/{{product.id}}">{{product.name}}</a></th>
              <th><p routerLink="/product-detail/{{product.id}}">{{product.desc}}</p></th>
              <th>
                <button data-target="#showDetail"  data-toggle="modal" class="btn btn-primary" (click)="showDetail(product)">Show InFor</button> &nbsp;
              <button class="btn btn-primary" (click)="removeItem(product.id)">Detele</button>
              </th>
            </tr>
           
          </thead>
        </table>
  <!-- <div *ngIf="selected">
  <app-product-detail [data]= "selected"></app-product-detail>
</div> -->